<!doctype html>
<html>
    <head>
        <title><%=title%></title>
        <script src="/three/three.min.js"> </script>
        <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
        <script src="/bundle.js"> </script>
        <link href="style/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    </body>
</html>