peer js wo
connect to:
<br>
<select name="clients">
	<% for (let i = 0; i < clients.length; i++) { %>
	<option><%= clients[i] %></option>
	<% } %>
</select>
<br>
<button name="connect">Connect</button>